.float-right {
  float: right;
}

.container {
  margin: 10px;
}

.ui.table tr {
  background: #fdfdfd;
}

.ui.table tr td.shift-date {
  padding-left: 5px;
}

.ui.table tr td.shift-day {
  padding-right: 5px;
}

.ui.table tr.weekend {
  background: #eee;
}

.ui.table tr.weekend td.shift-date, .ui.table tr.weekend td.shift-status, .ui.table tr.weekend td.shift-day {
  font-weight: bold;
}

.ui.table tr.weekend td.shift-date.warning, .ui.table tr.weekend td.shift-day.warning, .ui.table tr.weekend td.shift-status.warning {
  /* #fffaf3 */
  background: #f3ece1 !important;
}

.ui.table tr.weekend td.shift-date.negative, .ui.table tr.weekend td.shift-day.negative, .ui.table tr.weekend td.shift-status.negative {
  /* #fff6f6 */
  background: #f4e7e7 !important;
}

.ui.table tr.weekend td.shift-date.positive, .ui.table tr.weekend td.shift-day.positive, .ui.table tr.weekend td.shift-status.positive {
  /* #fcfff5 */
  background: #ebf0dc !important;
}

.ui.table td.other-vols {
  /* padding-left: 0; */
  padding-top: 0;
  padding-bottom: 0;
}

.ui.table td.shift-status {
  min-width: 10px;
}

.ui.table td.shift-status i {
  margin-left: -5px;
  margin-right: -5px;
  opacity: 0.4;
}

.ui.table td.shift-status i.icon-warning, .ui.table td.shift-status i.icon-info, .ui.table td.shift-status i.icon-clock {
  cursor: help;
  opacity: 0.65;
}

.ui.table td.shift-type {
  width: 160px;
}

.ui.table td.shift-type > span {
  margin-right: -10px;
}

.ui.table td.shift-type a {
  border-bottom: 1px dotted rgba(65, 131, 196, 1) !important;
}

.shift-type {
  margin-right: 10px;
  vertical-align: bottom;
}

.ui.table td.shift-selected .ui.checkbox label:before {
  border-color: #aaa;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);
}

i.vol-icon {
  margin-right: 5px;
}

.ui.table td.left-border, .ui.table thead th.left-border {
  border-left: 1px solid rgba(34,36,38,.15);
}

.ui.table tr.loading td {
  opacity: 0.6;
  background-color: #f9f9f9;
}

.ui.table tr.past td {
  /* background-color: #f1f1f1; */
  color: #777;
}

.ui.table tr.past.weekend td {
  /* background-color: #eaeaea; */
  color: #777;
}

.ui.table tr.loading td.shift-selected {
  padding-left: 10px;
  padding-right: 10px;
}

.ui.table tr.month-header-row {
  background-color: #555;
  color: white; 
}

.ui.table tr.month-header-row td {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

.ui.table tr.month-header-row td:first-child {
  border-left: 1px solid #555;
}

.ui.table tr.month-header-row .action {
  color: #ddd;
}

.ui.table tr.month-header-row .action, .ui.table tr.month-header-row .loading {
  float: right;
  margin-right: -5px;
  margin-left: 20px;
}

.ui.table tr.month-header-row .action:hover {
  color: #fff;
}

.ui.table tr.month-header-row .action span {
  border-bottom: 1px dashed #aaa;
  vertical-align: bottom;
}

.ui.table tr.month-header-row .action:hover span {
  border-bottom: 1px dashed #ddd;
}

.ui.checkbox input[type="checkbox"][disabled] {
  cursor: default;
}

a.action {
  cursor: pointer;
  border-bottom: 1px dashed #4183c4;
}

a.action[disabled] {
  cursor: default;
  cursor: text;
  pointer-events: none;
  color: #999;
}

select.vol-select {
	height: auto;
	background: #fff;
	border: 1px solid rgba(34,36,38,.15);
	border-radius: .28571429rem;
	box-shadow: 0 0 0 0 transparent inset;
	color: #777;
	-webkit-transition: color .1s ease,border-color .1s ease;
  transition: color .1s ease,border-color .1s ease;
  margin-top: 5px; 
  font-family: inherit;
  font-weight: 700;
}

label .notes {
  display: block;
  /* margin-left: 5px; */
	color: #bbb;
}

label .notes b {
	color: #555;
}

form {
  background: #f2f2f2;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

i.loading {
  margin-left: -2px;
}

.float-right {
  float: right;
}

.other-vol {
  display: inline-block;
  background: #ddd;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

.other-vol .sharing-pref {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  background: #555;
  color: #fff;
   border: 1px solid #555; 
  margin-left: 5px;
  border-radius: 16px;
  cursor: help;
  font-weight: bold;
  font-size: 12px;
  position: relative;
} 

.other-vol .sharing-pref.icon {
  font-weight: 300;
}

.other-vol .sharing-pref.icon i {
  margin-left: -1px;
}

.shift-type label {
  margin-right: 20px;
}

.shift-type input[type="radio"] {
  margin-right: 5px;
}