.float-right {
  float: right;
}

.container {
  margin: 10px;
}

.ui.table tr {
  background: #fdfdfd;
}

.ui.table tr.weekend {
  background: #eee;
}

.ui.table tr.weekend td.shift-date, .ui.table tr.weekend td.shift-status {
  font-weight: bold;
}

.ui.table tr.weekend td.shift-date.warning, .ui.table tr.weekend td.shift-status.warning {
  /* #fffaf3 */
  background: #f3ece1 !important;
}

.ui.table tr.weekend td.shift-date.negative, .ui.table tr.weekend td.shift-status.negative {
  /* #fff6f6 */
  background: #f4e7e7 !important;
}

.ui.table tr.weekend td.shift-date.positive, .ui.table tr.weekend td.shift-status.positive {
  /* #fcfff5 */
  background: #ebf0dc !important;
}

.ui.table td.shift-status i {
  margin-right: -15px;
  margin-left: -5px;
  opacity: 0.4;
}

.ui.table td.shift-status i.icon-warning, .ui.table td.shift-status i.icon-info {
  cursor: help;
  opacity: 0.65;
}

td.shift-type {
  width: 160px;
}

td.shift-type > span {
  margin-right: -10px;
}

td.shift-type a {
  border-bottom: 1px dotted rgba(65, 131, 196, 1) !important;
}

.shift-type {
  margin-right: 10px;
  vertical-align: bottom;
}

td.shift-selected .ui.checkbox label:before {
  border-color: #aaa;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);
}

i.vol-icon {
  margin-right: 5px;
}

td.left-border, .ui.table thead th.left-border {
  border-left: 1px solid rgba(34,36,38,.15);
}

/* .ui.table td.loading i {
  margin-left: -15px;
  margin-right: -5px;
  opacity: 0.4;
} */

.ui.table tr.loading td {
  opacity: 0.6;
  background-color: #f9f9f9;
}

.ui.checkbox input[type="checkbox"][disabled] {
  cursor: default;
}

a.action {
  cursor: pointer;
}

a.action[disabled] {
  cursor: default;
  cursor: text;
  pointer-events: none;
  color: #999;
}

select.vol-select {
	height: auto;
	background: #fff;
	border: 1px solid rgba(34,36,38,.15);
	border-radius: .28571429rem;
	box-shadow: 0 0 0 0 transparent inset;
	color: #777;
	-webkit-transition: color .1s ease,border-color .1s ease;
  transition: color .1s ease,border-color .1s ease;
  margin-left: 5px;
  font-family: inherit;
  font-weight: 700;
}

label .notes {
  display: block;
  /* margin-left: 5px; */
	color: #bbb;
}

label .notes b {
	color: #555;
}

form {
  background: #f2f2f2;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}