form.details {
  .group;

  background: #f2f2f2;
  padding: 10*@px;
  padding-top: 15*@px;
  margin-top: 0*@px;
  margin-bottom: -10*@px;
  border-bottom: 1*@px solid #ddd;

  h3 i {
    position: relative;
    margin-left: -3*@px;
    margin-right: 3*@px;
  }

  .field {
    .ui.radio.checkbox {
      display: block;
      margin-right: 0*@px;
      margin-top: 10*@px;
    }
  }

  label .notes {
    display: block;
    color: #bbb;

    b {
      color: #555;
    }
  }
  
  label .sharing-pref {
    font-weight: bold;
    color: #000;
    margin-left: 1*@px;
    margin-right: 1*@px;

    span {
      position: relative;
      top: 0*@px;
      left: 0*@px;
    }
  }

  .buttons {
    float: right;
  }

  .ui.error.message .error-message-header {
    background: none;
    box-shadow: none;
    // margin: 0;
    padding: 0;
    height: unset;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 1.2em;
    font-weight: bold;
  }

  @media @larger-screen {
    margin-bottom: 0*@px;
    padding-top: 10*@px;
    border: 1*@px solid #ddd;
    border-radius: 3*@px;
    
    .field .ui.radio.checkbox {
      display: inline-block;
      margin-right: 20*@px;
    }
  }
}

.ui.form {
  textarea:not([rows]) {
    height: 50*@px;
  }
}

@media @larger-screen {
  .ui.form {
    textarea:not([rows]) {
      height: 8em;
    }
  }
}