@import "Variables.less";

* {
  box-sizing: border-box;
}

html {
  font-size: 100vw * (@root-font-size/320);

  @media @medium-screen {
    font-size: 100vw * (@root-font-size/586);
  }

  @media @larger-screen {
    font-size: @root-font-size;
  }
}

body {
  min-width: 320*@px;
  font-size: 100vw * (@root-font-size/320);

  @media @medium-screen {
    font-size: 100vw * (@root-font-size/586);
  }

  @media @larger-screen {
    font-size: @root-font-size;
  }
}

.media-large-screen,
.media-larger-screen,
.media-medium-screen,
.media-large-screen.media-larger-screen,
.media-larger-screen.media-medium-screen {
  display: none !important;
}

.media-small-screen,
.media-small-screen.media-medium-screen {
  display: block !important;
}

@media @medium-screen {
  .media-large-screen,
  .media-larger-screen,
  .media-small-screen,
  .media-large-screen.media-larger-screen {
    display: none !important;
  }

  .media-medium-screen,
  .media-medium-screen.media-larger-screen,
  .media-medium-screen.media-small-screen {
    display: block !important;
  }
}

@media @larger-screen {
  .media-large-screen,
  .media-medium-screen,
  .media-small-screen,
  .media-medium-screen.media-small-screen {
    display: none !important;
  }

  .media-larger-screen,
  .media-larger-screen.media-large-screen,
  .media-larger-screen.media-medium-screen {
    display: block !important;
  }
}

@media @large-screen {
  .media-small-screen,
  .media-medium-screen,
  .media-larger-screen,
  .media-small-screen.media-medium-screen,
  .media-medium-screen.media-larger-screen {
    display: none !important;
  }

  .media-large-screen,
  .media-large-screen.media-larger-screen {
    display: block !important;
  }
}

.float-right {
  float: right;
}

i {
  &.vol-icon {
    margin-right: 5*@px;
  }
}

a.action {
  cursor: pointer;

  &[disabled] {
    cursor: default;
    cursor: text;
    pointer-events: none;
    color: #999;
  }
}

.group {
  &::after {
    content: " ";
    height: 0;
    display: block;
    clear: both;
  }
}

.fontello {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.action-label {
  cursor: pointer !important;
}

.ui.checkbox input[type="checkbox"][disabled] {
  cursor: default;
}

.vol-info-fadeout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: @vol-info-z-index;
}

.vol-info {
  color: #555;
  background: #fff;
  z-index: @vol-info-z-index + 1;
  width: 90%;
  max-width: 400*@px;
  height: 90%;
  max-height: 500*@px;
  position: absolute;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5*@px;
  padding: 10*@px;
  cursor: pointer;

  a {
    position: absolute;
    top: 10*@px;
    right: 5*@px;
    color: #555;

    &:hover {
      color: #999;
    }
  }
  
  &:hover a {
    color: #999;
  }

  .vol-info-wrapper {
    position: absolute;
    left: 15*@px;
    right: 15*@px;
    overflow-x: hidden;
    overflow-y: auto;
    top: 25*@px;
    left: 8*@px;
    right: 8*@px;
    bottom: 15*@px;
    padding: 0 12*@px;

    h2 {
      text-align: center;
      margin-top: -5*@px;
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .vol-info-content {
      margin-top: 20*@px;

      .vol-info-intro {
        position: relative;
        padding: 0*@px 22*@px;
        font-style: italic;
        line-height: 16*@px;

        &:before, &:after {
          font-style: normal;
          font-size: 25*@px;
          color: #bbb;

          //TODO: Find a better font for this
          font-family: Georgia, Times, Times New Roman, serif;
          font-weight: bold;
          position: absolute;
        }

        &:before {
          left: 0;
          top: 5*@px;
          content: '\201C';
        }

        &:after {
          right: 0;
          bottom: -9*@px;
          content: '\201D';
        }
      }

      .vol-info-no-intro {
        color: #aaa;
        font-style: italic;
        text-align: center;
        line-height: 16*@px;
      }

      h3 {
        font-size: 16*@px;
        margin-top: 20*@px;
        margin-bottom: 5*@px;
      }

      .vol-info-pref {
        .group;
        position: relative;
        
        .vol-info-pref-marker {
          width: 20*@px;
          position:absolute;
          font-weight: bold;
          color: #000;

          i {
            margin: 0;
            &:before {
              margin: 0;
            }
            position: relative;
            top: 0*@px;
          }
        }

        .vol-info-pref-description {
          float: left;
          margin-left: 30*@px;
        }
      }
    }
  }
}

.message-bubble {
  z-index: @base-z-index + 1;
  position: absolute;
  background: #fff;
  padding: 10*@px;
  border-radius: 2*@px;
  box-shadow: 0*@px 1*@px 5*@px 0*@px rgba(0, 0, 0, 0.3);
  top: 33*@px;
  font-size: 14*@px;
  width: 290*@px;

  h3 {
    margin: 0;
    margin-bottom: 10*@px;
    line-height: 18*@px;
  }

  p {
    margin: 0;

    i {
      margin-left: -3*@px;
      margin-right: 3*@px;
    }
  }

  a {
    position: absolute;
    top: 9*@px;
    right: 5*@px;
    color: #555;

    &:hover {
      color: #999;
    }
  }

  &.fixed {
    cursor: pointer;
    &:hover {
      a {
        color: #999;
      }
    }
  }

  &:before {
    position: absolute;
    content: "";
    width: 0; 
    height: 0; 
    top: -12*@px;
    left: 3*@px;
    border-left: 12*@px solid transparent;
    border-right: 12*@px solid transparent;
    border-bottom: 12*@px solid rgba(150, 150, 150, 0.1);
  }

  &:after {
    position: absolute;
    content: "";
    width: 0; 
    height: 0; 
    left: 5*@px;
    top: -10*@px;
    top: -9.5*@px;
    border-left: 10*@px solid transparent;
    border-right: 10*@px solid transparent;
    border-bottom: 10*@px solid #fff;
  }

  &.inverted {
    top: auto;
    bottom: 33*@px;

    &::before {
      top: auto;
      bottom: -12*@px;
      border-left: 12*@px solid transparent;
      border-right: 12*@px solid transparent;
      border-bottom: none; 
      border-top: 12*@px solid rgba(150, 150, 150, 0.2);
    }

    &::after {
      top: auto;
      bottom: -10*@px;
      bottom: -9.5*@px;
      border-left: 10*@px solid transparent;
      border-right: 10*@px solid transparent;
      border-bottom: none;
      border-top: 10*@px solid #fff;
    }
  }
}

input[type="checkbox"] {
  display: inline;

  & ~ .loading {
    display: none;
  }

  &[data-checked="false"] {
    &:checked {
      display: none;

      & ~ .loading {
        display: inline-block;
      }
    }
    &:not(:checked) {
      display: inline;
    }    
  }

  &[data-checked="true"] {
    &:not(:checked) {
      display: none;

      & ~ .loading {
        display: inline-block;
      }
    }
    &:checked {
      display: inline;
    }
  }
}

div > input[type="checkbox"][data-checked="false"]:not(:checked) ~ div > .loading {
  background: red;
}

.shift-row {
  .row-loading {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    font-size: 20*@px;
    padding-top: 17*@px;
    padding-left: 9*@px;
    padding-right: 10*@px;
    display: none;
  }
  .current-vol-selected {
    display: block;
  }
  .current-vol-loading {
    display: none;
  }
}
.shift-row.loading {
  .row-loading {
    display: block;
  }
  
  .current-vol-selected {
    display: none;
  }
  .current-vol-loading {
    display: block;
  }
}