@import "Variables.less";

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
}

.media-larger-screen, .media-medium-screen, .media-small-screen {
  display: none !important;
}

.media-large-screen {
  display: block !important;
}

@media @larger-screen {
  .media-large-screen,
  .media-medium-screen,
  .media-small-screen,
  .media-medium-screen.media-small-screen {
    display: none !important;
  }

  .media-larger-screen,
  .media-larger-screen.media-large-screen,
  .media-larger-screen.media-medium-screen {
    display: block !important;
  }
}

@media @medium-screen {
  .media-large-screen,
  .media-larger-screen,
  .media-small-screen,
  .media-large-screen.media-larger-screen {
    display: none !important;
  }

  .media-medium-screen,
  .media-medium-screen.media-larger-screen,
  .media-medium-screen.media-small-screen {
    display: block !important;
  }
}

@media @small-screen {
  .media-large-screen,
  .media-larger-screen,
  .media-medium-screen,
  .media-large-screen.media-larger-screen,
  .media-larger-screen.media-medium-screen {
    display: none !important;
  }

  .media-small-screen,
  .media-small-screen.media-medium-screen {
    display: block !important;
  }
}

.float-right {
  float: right;
}

i {
  &.vol-icon {
    margin-right: 5px;
  }
}

a.action {
  cursor: pointer;

  &[disabled] {
    cursor: default;
    cursor: text;
    pointer-events: none;
    color: #999;
  }
}

.group {
  &::after {
    content: " ";
    height: 0;
    display: block;
    clear: both;
  }
}

.fontello {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.action-label {
  cursor: pointer !important;
}

.ui.checkbox input[type="checkbox"][disabled] {
  cursor: default;
}

.vol-info-fadeout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: @vol-info-z-index;
}

.vol-info {
  color: #555;
  background: #fff;
  z-index: @vol-info-z-index + 1;
  width: 90%;
  max-width: 400px;
  // min-width: 50%;
  height: 90%;
  max-height: 500px;
  position: absolute;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 10px;
  
  h2 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
  }

  a {
    position: absolute;
    top: 10px;
    right: 5px;
    color: #555;

    &:hover {
      color: #999;
    }
  }

  .vol-info-content {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 5px;
    margin-right: 5px;
    top: 70px;
    left: 5px;
    right: 5px;
    bottom: 15px;
    padding: 0 15px;
    margin-bottom: 15px;

    .vol-info-intro {
      position: relative;
      padding: 0px 22px;
      font-style: italic;
      line-height: 16px;

      &:before, &:after {
        font-style: normal;
        font-size: 25px;
        color: #bbb;

        //TODO: Find a better font for this
        font-family: Georgia, Times, Times New Roman, serif;
        font-weight: bold;
        position: absolute;
      }

      &:before {
        left: 0;
        top: 5px;
        content: '\201C';
      }

      &:after {
        right: 0;
        bottom: -9px;
        content: '\201D';
      }
    }

    .vol-info-no-intro {
      color: #aaa;
      font-style: italic;
      text-align: center;
      line-height: 16px;
    }

    h3 {
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 5px;
    }

    .vol-info-pref-marker {
      display: inline-block;
      width: 30px;
      font-weight: bold;
      i {
        margin: 0;
        &:before {
          margin: 0;
        }
      }
    }
  }
}

.message-bubble {
  z-index: @base-z-index + 1;
  position: absolute;
  background: #fff;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  top: 33px;
  font-size: 14px;
  width: 300px;

  h3 {
    margin: 0;
    margin-bottom: 10px;
    line-height: 18px;
  }

  p {
    margin: 0;

    i {
      margin-left: -3px;
      margin-right: 3px;
    }
  }

  a {
    position: absolute;
    top: 9px;
    right: 5px;
    color: #555;

    &:hover {
      color: #999;
    }
  }

  &:before {
    position: absolute;
    content: "";
    width: 0; 
    height: 0; 
    top: -12px;
    left: 3px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgba(150, 150, 150, 0.1);
  }

  &:after {
    position: absolute;
    content: "";
    width: 0; 
    height: 0; 
    left: 5px;
    top: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }

  &.inverted {
    top: auto;
    bottom: 33px;

    &::before {
      top: auto;
      bottom: -12px;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: none; 
      border-top: 12px solid rgba(150, 150, 150, 0.2);
    }

    &::after {
      top: auto;
      bottom: -10px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: none;
      border-top: 10px solid #fff;
    }
  }
}