* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
}

////////////////////// HEADER /////////////////////////

.header {
  position: fixed;
  min-width: 320px;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #ffe6a8;
  padding: 10px 10px 8px 10px;
  z-index: 999;
  box-shadow: 5px 0px 10px 0px #000;

  .header-status {
    float: left;
    font-size: 20px;
    width: 29px;
    height: 15px;
    margin-top: 10px;
    margin-right: 8px;

    i {
      float: left;

      &.icon-warning {
        cursor: help;
        margin-top: 1px;
      }

      &.icon-ok {
        color: #4d7547;
      }

      &.logo {
        background-image: url(/img/logo.png);
        margin-top: 3px;
        width: 29px;
        height: 15px;
      }
    }
  }

  h2 {
    margin: 0;
    height: 36px;
    float: left;
    margin-right: 5px;
    margin-top: 4px;
  }

  select {
    float: left;
    height: auto;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    color: #777;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
    font-family: inherit;
    font-weight: 700;
    border: 1px solid #ccc;
    font-size: 1.71428571rem;
    line-height: 1.28571429em;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    position: relative;
    top: -1px;
    min-width: 200px;
    max-width: calc(~"100% - 642px");
    margin-top: 4px;
  }

  .header-buttons {
    float: right;

    .header-button {
      float: right;
      margin: 0;
      margin-left: 5px;

      &.media-small-screen {
        display: none !important;
      }

      &.media-medium-screen {
        display: none !important;
      }

      &.media-large-screen {
        display: block !important;
      }
    }
  }

  &:after {
    display: none;
    position: absolute;
    left: 5px;
    bottom: -23px;
    content: 'full';
    background: #fff;
  }

  @media only screen and (max-width: 884px) {
    &:after {
      content: '884px';
    }

    select {
      min-width: 200px;
      max-width: calc(~"100% - 470px");
    }
 
    .header-buttons {
      .header-button {
        &.media-small-screen {
          display: none !important;
        }

        &.media-medium-screen {
          display: block !important;
        }

        &.media-large-screen {
          display: none !important;
        }
      }
    }
  }

  @media only screen and (max-width: 722px) {
    height: 84px;
    padding: 5px;

    &:after {
      content: '722px';
    }
    
    .header-status {
      margin-top: 8px;
      margin-left: 5px;
      margin-right: 8px;
    }

    h2 {
      margin-top: 2px;
    }

    select {
      min-width: 195px;
      max-width: calc(~"100% - 128px");
      margin-top: 3px;
      margin-left: 37px;
      clear: left;
    }

    .header-buttons {
      float: right;

      .header-button {
        clear: right;
        padding: 10px;
        width: 80px;
        max-width: 80px;

        &.header-button-edit {
          margin-top: 5px;
        }
      }
    }
  }

  @media only screen and (max-width: 519px) {
    height: 74px;

    &:after {
      content: '519px';
    }

    .header-status {
      margin-top: 6px;
      margin-right: 7px;
    }

    h2, select {
      font-size: 20px;
    }

    h2 {
      margin-top: 3px;
    }
    
    select {
      margin-top: -2px;
      margin-left: 36px;
      max-width: calc(~"100% - 80px");
      clear: left;
    }

    .header-buttons {
      .header-button {
        width: auto;
        max-width: auto;
        
        &.media-small-screen {
          display: block !important;
        }

        &.media-medium-screen {
          display: none !important;
        }

        &.media-large-screen {
          display: none !important;
        }
      }
    }
  }
}

////////////////////// GENERAL /////////////////////////

.container {
  margin: 10px;
  margin-top: 70px;

  @media only screen and (max-width: 400px) {
    margin-top: 130px;
  }
}

.float-right {
  float: right;
}

i {
  &.vol-icon {
    margin-right: 5px;
  }

  &.loading {
    margin-left: -2px;
  }
}

a.action {
  cursor: pointer;

  &[disabled] {
    cursor: default;
    cursor: text;
    pointer-events: none;
    color: #999;
  }
}

.group {
  &::after {
    content: " ";
    height: 0;
    display: block;
    clear: both;
  }
}

.sharing-pref {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  background: #555;
  color: #fff;
  border: 1px solid #555;
  margin-left: 5px;
  border-radius: 16px;
  cursor: help;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  vertical-align: top;

  &.icon {
    i {
      margin-left: -1px;

      &:before {
        margin-left: 3px;
      }
    }
  }
}

////////////////////// ROSTER /////////////////////////

.roster {
  .row {
    display: block;
    border-top: 1px solid rgba(34, 36, 38, 0.1);
    .group;

    &.negative1 {
      .row-item.shift-day, .row-item.shift-date, .row-item.shift-status-icon, .row-item.vol-count {
        color: #9f3a38 !important;
      }
    }

    &.warning1 {
      .row-item.shift-day, .row-item.shift-date, .row-item.shift-status-icon, .row-item.vol-count {
        color: #573a08 !important;
      }
    }

    &.positive1 {
      .row-item.shift-day, .row-item.shift-date, .row-item.shift-status-icon, .row-item.vol-count {
        color: #2c662d !important;
      }
    }

    .row-item {
      float: left;
      padding: 10px 10px 10px 10px;
      .group;

      &.shift-day {
        width: 3.5em;
      }

      &.shift-date {
        width: 3em;
        margin-left: 5px;
      }

      &.vol-count {
        margin-left: 5px;
        width: 2.5em;
      }

      &.shift-status-icon {
        width: 3em;

        margin-left: 5px;
        padding-top: 13px;

        i {
          opacity: 0.4;

          &.icon-warning, &.icon-info, &.icon-clock {
            cursor: help;
            opacity: 0.65;
          }
        }
      }

      &.vol-markers {
        margin-left: 10px;
        padding-top: 6px;
        padding-bottom: 6px;

        .vol-marker {
          display: inline-block;
          background: #ddd;
          color: #555;
          margin-right: 10px;
          padding-left: 5px;
          padding-right: 5px;
          padding-top: 2px;
          padding-bottom: 2px;
          border-radius: 2px;
          border: 1px solid #ccc;

          .vol-name {
            float: left;
          }

          .sharing-pref {
            margin-top: 2px;
            display: block;
            float: left;
          }
        }
      }

      &.current-vol {
        float: right;
        color: #555;

        .shift-type {
          float: left;
          margin-right: 10px;
          vertical-align: bottom;

          label {
            margin-right: 20px;
          }

          input[type="radio"] {
            margin-right: 5px;
          }
        }

        .ui.checkbox {
          float: right;

          label:before {
            border-color: #aaa;
            border-radius: 2px;
            box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);
          }
        }

        i.icon-spin {
          float: right;
          margin-top: 2px;
          margin-left: -3px;
        }
      }
    }

    &.weekend {
      background: #eee !important;
      .row-item {
        &.shift-date, &.shift-day {
          font-weight: bold;
        }
      }
    }

    &.loading {
      opacity: 0.6;
      background-color: #f9f9f9;

      .row-item.current-vol {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    &.past {
      .row-item {
        color: #999;
      }

      &.weekend {
        .row-item {
          color: #999;
        }
      }
    }

    &.row-header {
      padding: 10px 10px 10px 10px;
      background-color: #555;
      color: white;

      .row-header-actions {
        float: right;
      }

      .action {
        float: right;
        margin-right: -5px;
        margin-left: 20px;
        color: #ddd;

        &:hover {
          color: #fff;
        }

        span {
          border-bottom: 1px dashed #aaa;
          vertical-align: bottom;
        }

        &:hover span {
          border-bottom: 1px dashed #ddd;
        }

        i {
          position: relative;
          top: -1px;
        }
      }
    }

    &.today {
      .row-item:first-child {
        position: relative;

        &:after {
          position: absolute;
          left: 0;
          top: 14px;
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left: 6px solid rgba(85, 85, 85, 0.8);
          content: " ";
        }
      }
    }
  }
}

////////////////////// FORM FIELDS /////////////////////

.action-label {
  cursor: pointer !important;
}

.ui.checkbox input[type="checkbox"][disabled] {
  cursor: default;
}

//////////////////////// DETAILS ///////////////////////

form {
  background: #f2f2f2;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.field .ui.radio.checkbox {
  margin-right: 20px;
  margin-top: 10px;
}

label .notes {
  display: block;
  color: #bbb;

  b {
    color: #555;
  }
}

label .sharing-pref {
  margin-left: 0px;
  margin-right: 5px;
  padding-bottom: 2px;
  position: relative;
  top: 1px;
  cursor: inherit;

  span {
    position: relative;
    top: 0px;
    left: 0px;
  }
}