.container {
  margin: 10px;
  margin-top: 70px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffe6a8;
  padding: 10px 6px 10px 10px;
  z-index: 999;
  box-shadow: 5px 0px 10px 0px #000;

  h2 {
    margin: 0;
    
    &.initial-data-loading {
      margin-top: 3px;
    }
  }
  
  .header-status {
    float: left;
    font-size: 20px;
    margin-top: 9px;
    margin-left: 4px;
    margin-right: 10px;
    width: 29px;
    height: 15px;

    i {
      float: left;
      
      &.icon-warning {
        cursor: help;
        margin-top: 1px;
      }
      
      &.icon-ok {
        color: #4d7547;
      }
      
      &.logo {
        background-image: url(/img/logo.png);
        margin-top: 3px;
        width: 29px;
        height: 15px;
      }
    }
  }
  
  .header-edit {
    float: right;
    margin-left: 5px;
  }
  
  .header-new {
    float: right;
    margin-left: 5px;
    box-shadow: 0px 0px 0px 1px #ccc;

    &:hover {
      box-shadow: 0px 0px 0px 1px #ccc;
    }
  }
  
  select {
    height: auto;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    color: #777;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
    margin-top: 5px; 
    font-family: inherit;
    font-weight: 700;
    border: 1px solid #ccc;
    margin-top: 2px;
    margin-bottom: 3px;
  }
}

.ui.table {
  tr {
    &.negative1 {
      td.shift-day, td.shift-date, td.shift-status-icon, td.vol-count {
        color: #9f3a38 !important;
      }
    }

    &.warning1 {
      td.shift-day, td.shift-date, td.shift-status-icon, td.vol-count {
        color: #573a08 !important;
      }
    }

    &.positive1 {
      td.shift-day, td.shift-date, td.shift-status-icon, td.vol-count {
        color: #2c662d !important;
      }
    }

    td {
      &.shift-date {
        padding-left: 5px;
      }
  
      &.shift-day {
        padding-right: 5px;
      }

      &.vol-markers {
        padding-left: 20px; 
        padding-top: 0;
        padding-bottom: 0;
      }
      
      &.shift-status-icon {
        min-width: 20px;
      }
      
      &.shift-status-icon i {
        opacity: 0.4;
        
        &.icon-warning, &.icon-info, &.icon-clock {
          cursor: help;
          opacity: 0.65;
        }
      }

      &.vol-count {
        padding-left: 0px;
        padding-right: 0px;
      }
      
      .shift-type {
        margin-right: 10px;
        vertical-align: bottom;
      }

      &.shift-selected {
        color: #555;
     
        .ui.checkbox label:before {
          border-color: #aaa;
          border-radius: 2px;
          box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);
        }
      }

      &.left-border {
        border-left: 1px solid rgba(34,36,38,.15);
      }
    }

    &.weekend {
      background: #eee !important;
      td {
        &.shift-date, &.shift-day {
          font-weight: bold;
        }
      }
    }

    &.loading {
      td {
        opacity: 0.6;
        background-color: #f9f9f9;
      }
    }
    
    &.past {
      td {
        color: #999;
      }

      &.weekend {
        td {
          color: #999;
        }
      }
    }

    &.loading {
      td.shift-selected {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    
    &.month-header-row {
      background-color: #555;
      color: white; 
      
      td {
        border-top: 1px solid #555;
        border-bottom: 1px solid #555;
      }
      
      td:first-child {
        border-left: 1px solid #555;
      }

      .action, .loading {
        float: right;
        margin-right: -5px;
        margin-left: 20px;
      }
      
      .action {
        color: #ddd;

        &:hover {
          color: #fff;
        }

        span {
          border-bottom: 1px dashed #aaa;
          vertical-align: bottom;
        }

        &:hover span {
          border-bottom: 1px dashed #ddd;
        }
      }
    }

    &.today {
      td:first-child {
        position: relative;

        &:after {
          position: absolute;
          left: 0;
          top: 14px;
          width: 0; 
          height: 0; 
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left: 6px solid rgba(85, 85, 85, 0.8);
          content: '.';
          color: transparent;
        }
      }
    }
  }
}

.float-right {
  float: right;
}

i.vol-icon {
  margin-right: 5px;
}

i.loading {
  margin-left: -2px;
}

a.action {
  cursor: pointer;
}

a.action[disabled] {
  cursor: default;
  cursor: text;
  pointer-events: none;
  color: #999;
}

label .notes {
  display: block;
  color: #bbb;
  
  b {
    color: #555;
  }
}

form {
  background: #f2f2f2;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.ui.checkbox input[type="checkbox"][disabled] {
  cursor: default;
}

.field .ui.radio.checkbox {
  margin-right: 20px;
  margin-top: 10px;
}

.vol-marker {
  display: inline-block;
  background: #ddd;
  color: #555;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

.sharing-pref {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  background: #555;
  color: #fff;
  border: 1px solid #555; 
  margin-left: 5px;
  border-radius: 16px;
  cursor: help;
  font-weight: bold;
  font-size: 12px;
  position: relative;

  &.icon {
    font-weight: 300;
  }
  
  &.icon i {
    margin-left: -1px;
  }
} 

label .sharing-pref {
  margin-left: 0px;
  margin-right: 5px;
  padding-bottom: 2px;
  position: relative;
  top: 1px;
  cursor: inherit;

  span {
    position: relative;
    top: -1px;
  }
}

.shift-type {
  label {
    margin-right: 20px;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
}

.action-label {
  cursor: pointer !important;
}