@small-screen-max-width: 400px;
@small-screen: ~"only screen and (max-width: " @small-screen-max-width ~")";
@medium-screen-max-width:722px;
@medium-screen: ~"only screen and (max-width: " @medium-screen-max-width ~")";
@larger-screen-max-width: 884px;
@larger-screen: ~"only screen and (max-width: " @larger-screen-max-width ~")";

@header-z-index: 10;
@vol-info-z-index: 100;
@base-z-index: 0;