// @small-screen-min-width: 0px;
// @small-screen: ~"only screen and (min-width: " @small-screen-min-width ~")";
// @medium-screen-min-width:401px;
// @medium-screen: ~"only screen and (min-width: " @medium-screen-min-width ~")";
// @larger-screen-min-width: 723px;
// @larger-screen: ~"only screen and (min-width: " @larger-screen-min-width ~")";
// @large-screen-min-width: 885px;
// @large-screen: ~"only screen and (min-width: " @large-screen-min-width ~")";

//@small-screen: ~"only screen and (min-aspect-ratio: 2/3)";
@medium-screen: ~"only screen and (min-aspect-ratio: 1/1)";
@larger-screen: ~"only screen and (min-aspect-ratio: 705/604)";
@large-screen: ~"only screen and (min-aspect-ratio: 875/604)";

@header-z-index: 10;
@vol-info-z-index: 100;
@base-z-index: 0;
@root-font-size: 14px; //((14/320)*100)*1vw;
@px: 1rem/14; // @root-font-size/14;